@media screen and (max-width: 600px) {
    header, main {
        width: 100%;
        margin: 0 10px;
    }

    .humburger {
        display: block;
    }

    .menu-bar {
        display: none;
    }

    .nav-title {
        padding: 20px 0;

    }

    .banner {
        padding: 20px;
        border-radius: 16px;

    }
    .banner-content{
        padding: 5px 0;
        margin: 5px;
    }

    .banner-title {
        font-size: 1.3rem;
    }

    .banner-des {
        font-size: 0.9rem;
    }

    .banner-form {
        display: grid;
        flex-direction: column;
        margin: 10px;

    }




    .about-tour {
        display: grid;
        flex-direction: column;
        margin: 10px;
    }

    .about-tour-title {
        font-size: 1.3rem;
    }

    .about-tour-des {
        font-size: 0.9rem;
    }
    .destination{
        margin: 10px;
    }

    .destination-title {
        font-size: 1.3rem;
    }

    .destination-des {
        font-size: 0.9rem;
    }

    .destination-image {
        grid-template-areas:
            "maldives-image"
            "indonesia-image"
            "srilanka-image"
            "north-america-image"
            "kashmir-image"
            "bangladesh-image"
            "bandarban-image"
        ;
    }


    .service-title {
        font-size: 1.3rem;
    }

    .service-des {
        font-size: 0.9rem;
    }

    .details {
        display: grid;
        flex-direction: column;
    }

    .name {
        font-size: 1.3rem;
    }

    .des {
        font-size: 0.9rem;
    }

    .mountain-container{
        display: grid;
        flex-direction: column;
    }

    .mountain-title {
        font-size: 1.3rem;
    }

    .mountain-des {
        font-size: 0.9rem;
    }

    .mountain-content {
        font-size: 0.9rem;
    }
    

    .newslatter {
        display: grid;
        flex-direction: column;
    }
    .image2 img{
        width: 100%;
    }
    
    .footer-title {
        font-size: 21.543px;
    }

    .footer-des {
        font-size: 0.9rem;
    }

    .icon {
        margin-top: 24px;
    }

    .line {
        margin-top: 20px;

    }

    .last {
        font-size: 0.9rem;
        margin-top: 25px;
    }





}