@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

header {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 52px;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
}


.nav-container {
    display: flex;
}

.nav-name {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.color {
    color: #FF5400;
}

.nav-menu {
    color: var(--Dark-02, #424247);
    font-size: 1.1rem;
    font-weight: 400;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1.1rem;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 1255px;
    height: 500px;
}
.banner-content{
    text-align: center;
    justify-content: center;
}