@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.humburger {
    display: none;
}

* {
    font-family: 'Mulish', sans-serif;
}

header {
    width: 1170px;
    margin: 0 auto;
    padding-top: 52px;
}

main {
    width: 1170px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}


.nav-container {
    display: flex;
}

.nav-name {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.color {
    color: #FF5400;
}

.nav-menu {
    color: var(--Dark-02, #424247);
    font-size: 1.1rem;
    font-weight: 400;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1.1rem;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;
}

.banner-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner-form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

input[type=text],
select {
    border: none;
    padding: 16px 35px;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
    background: #FFF;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
}

.btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}


.about-tour {
    display: flex;
    margin-top: 120px;
    gap: 50px;
    align-items: center;
}

.about-tour-title {
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
}

.about-tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.about-tour-information {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.about-tour-des2 {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    border: none;
}

.destination {
    text-align: center;
    justify-content: center;

}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;

}

.destination-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.maldives-image,
.indonesia-image,
.srilanka-image,
.north-america-image,
.kashmir-image,
.bangladesh-image,
.bandarban-image {
    padding: 132px 0;
    text-align: center;
    width: 100%;
    border-radius: 16px;
}

.destination-image h4 {
    color: #FFF;
}

.maldives-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png);
    grid-area: maldives-image;
    background-repeat: no-repeat;
    background-size: cover;
}

.indonesia-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png);
    grid-area: indonesia-image;
    background-repeat: no-repeat;
    background-size: cover;


}

.srilanka-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png);
    grid-area: srilanka-image;
    background-repeat: no-repeat;
    background-size: cover;
}

.north-america-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png);
    grid-area: north-america-image;
    background-repeat: no-repeat;
    background-size: cover;
}

.kashmir-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png);
    grid-area: kashmir-image;
    background-repeat: no-repeat;
    background-size: cover;
}

.bangladesh-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png);
    grid-area: bangladesh-image;
    background-repeat: no-repeat;
    background-size: cover;
}

.bandarban-image {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png);
    grid-area: bandarban-image;
    background-repeat: no-repeat;
    background-size: cover;
}


.destination-image {
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-areas:
        "maldives-image maldives-image indonesia-image  indonesia-image"
        "srilanka-image north-america-image north-america-image kashmir-image"
        "bangladesh-image bangladesh-image  bandarban-image  bandarban-image "
    ;
}

.service {
    margin: 100px auto;
}

.service-container {
    text-align: center;
    justify-content: center;
}

.service-title {
    color: #131318;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.service-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 45px;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.price {
    display: flex;
    justify-content: center;
}

.container {
    border-radius: 16px;
    gap: 24px;
    width: 573px;
    padding: 32px 32px 55px 32px;
}

.box-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.box-3 {
    margin-top: 24px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.name {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 20px 0;
    color: #131318;
}

.des {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color: #5A5A5D;
}


.mountain-container {
    display: flex;
    margin: 100px 0;
    gap: 50px;
    align-items: center;
}

.mountain-section {
    max-width: 50%;
}

.mountain-title {
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
    line-height: 60px;

}

.mountain-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0;
}

.mountain-content li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
}

iframe {
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);

}

.newslatter {
    margin-bottom: 100px;
    display: flex;
    gap: 24px;
    align-items: center;

}

.newslatter-form-container {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}



.newslatter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;

}

.newslatter-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.input1 {
    display: block;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    width: 94%;
    padding: 14px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    margin-bottom: 10px;
    border: none;

}

.input2 {
    display: block;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    width: 94%;
    padding: 14px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    margin-bottom: 10px;
    border: none;
}

.button {
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    padding: 14px;
    border: none;
}

.image2 {
    width: 672px;
    height: 422px;

}

footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    height: 502px;
}


.footer-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 110px;
}

.footer-title {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
}

.footer-des {
    width: 500px;
    margin: 24px auto;
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.icon {
    justify-content: center;
    gap: 24px;
    display: flex;
    margin-top: 50px;

}

.line {
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
}

.last {
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
}